/******************* Tag Selectors ********************/
body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;  
}

h1 {
    font-size: 5.625rem;
    line-height: 2;
    margin: 50px auto 1px;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

/******************* Class Selectors ********************/
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.top-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;   
}

.bottom-container {
    background-color: #66BFBF;
    position: relative;
    padding-bottom: 100px;
}

.bottom-container p {
    color: white;
    position: relative;
    top: 50px;
}

.footer-link {
    color: #0b686b;
    font-weight: 100;
    position: relative;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.skill-img {
    width: 25%;
    height: 200px;
    border-radius: 50%;
    float: left;
    padding: 30px;
}

.skill-row {
    display: inline-block;
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 100;
    margin: 20px;
    padding: 20px;
    background-color: #66BFBF;
    -webkit-box-shadow: inset 0 -8px 14px 0 #000000;
    -moz-box-shadow: inset 0 -8px 14px 0 #000000;
    box-shadow: inset 0 -8px 14px 0 #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }